<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">

# Project 4:  Web Scraping for Retail Arbitrage

### Finding Underpriced RVs on Craigslist

![](https://snag.gy/WrdUMx.jpg)

In this project we will be practicing our web scraping skills.  You can use BeautifulSoup, Scrapy, Selenium or Python requests in order to complete this project.  

> In order to run code from the command line, instead of the notebook, you just need to save your code to a file (with a .py extension), and run it using the Python interpreter:<br><br>
> `python my_file.py`

You will be building a process to scrape a single category of search results on Craigslist, that can easily be applied to other categories by changing the search terms.  The main goal is to be able to target and scrape a single page given a set of parameters.

**If you use Scrapy, provide your code in a folder.**

## Import your libraries for beautifulsoup, scrapy / requests / pandas / numpy / etc
Setup whichever libraries you need. Review past material for reference.

In [1]:
# PREPARE REQUIRED LIBRARIES
import scrapy
from scrapy.selector import Selector
from scrapy.http import HtmlResponse
import requests 
import pandas as pd

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1(a)  Procure a list of the largest US cities from Wikipedia (non-exhaustive list)
Search, research, and scrape Wikipedia for a list of the largest US cities.  There are a few sources but find one that is in a nice table.  We don't want all cities, just signifficant cities.  Examine your source.  Look for what can be differentiable.

- Use requests
- Build XPath query(ies)
- Extract to a list
- Clean your list

In [2]:
# SCRAPE WIKIPEDIA FOR LARGEST US CITIES (NON-EXHAUSTIVE LIST)
# USE https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population


HTML = requests.get('https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population').text
cities = Selector(text=HTML).xpath('//*[@id="mw-content-text"]/table[4]//td[2]//text()').extract()

In [3]:
type(cities[0])

unicode

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1(b) Clean Your List

Optionally, filter out any cities with impropper ASCII characters.  A smaller list will be easier to look at.  However you may not need to filter these if you spend more time scraping a more concise city list.  This list should help you narrow down the list of regional Craigslist sites.

In [4]:
#THE LIST OF CITIES APPEAR AS STRINGS BUT I NEED TO CLEAN THE LIST.  TAKING THE LIST FROM WIKIPEDIA I HAVE NUMERIC 
#VALUES WHICH ACCOMPANY THE LIST OF CITIES.  

for i in cities: 
    if i[0] == '[':  #CAN I WRITE THIS AS LAMBDA FUNCTION 
        cities.remove(i)
    else:
        pass

In [5]:
len(cities)

304

In [6]:
#Changing the type of our file cities from unicode to str.  

cities = [i.encode('ascii','ignore') for i in cities]
type(cities[0])

str

In [7]:
# ONLY RETAIN PROPERLY FORMED CITY NAMES
cities[:100]
del cities[9] #deleing the city san jose.  It doesnts have a craigslist page 
cities[:10]

['New York',
 'Los Angeles',
 'Chicago',
 'Houston',
 'Philadelphia',
 'Phoenix',
 'San Antonio',
 'San Diego',
 'Dallas',
 'Austin']

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 2(a)  Write a function to capture current pricing information via Craigslist in one city.
Choose a city from your scraped data, then go to the cooresponding city section on Craigslist, searching for "rv" in the auto section.  Write a method that pulls out the prices.

In [8]:
#choosing to look and compare Gulf Stream models beging with the cleveland
import numpy as np


def fnc(str):
    url = 'http://%s.craigslist.org/search/rva?query=gulf+stream'
    HTML = requests.get(url%str.replace(' ', '').replace('.','')).text
    RV = Selector(text=HTML).xpath('//*[@id="sortable-results"]/div[1]/p/a/span/text()').extract()
    return [float(i.encode('ascii', 'ignore').strip('$')) for i in RV] 
    
fnc('new york')

[9999.0,
 19500.0,
 19500.0,
 20700.0,
 20700.0,
 2000.0,
 20700.0,
 20700.0,
 20700.0,
 20700.0,
 20700.0,
 2000.0,
 850.0,
 9999.0,
 56000.0,
 19500.0,
 19500.0,
 78000.0,
 19999.0,
 9999.0,
 5900.0,
 13750.0,
 13000.0,
 15995.0,
 18750.0,
 18400.0,
 78000.0,
 12000.0,
 64900.0]

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 3. Create a function that creates search string URLs to repeat the procedcure upon the list of cities obtained from Wikipedia cities

Major US cities on Craigslist typically have their own corresponding section (ie: SFBay Area, NYC, Boston, Miami, Seattle, etc).  Later, you will use these to query search results for various metropolitian regions listed on Craigslist.  Between the major metropolitan Craigslist sites, the only thing that will differ is the URL's that correspond to them.

The point of the "mapping":  Create a data structure that allows you to iterate with both the name of the city from Wikipedia, with the cooresponding variable that that will allow you to construct each craigslist URL for each region.

> For San Francsico (the Bay Area metropolitan area), the url for the RV search result is:
> http://sfbay.craigslist.org/search/sss?query=rv
>
> The convention is http://[region].craigslist.org/search/sss?query=rf
> Replacing [region] with the corresponding city name will allow you to quickly iterate through each regional Craigslist site, and scrape the prices from the search results.

In [9]:
##AARON GAVE ME THIS HINT.  USING %S, STRING OPERAND I AM ABLE, GIVEN ANY INPUT CITY WITHIN CRAIGSLIST TO HEAD TO THE 
#RESPECTIVE CRAIGSLIST PAGE AND FINDE VALUES FOR ALL GULF STREAM RV'S. 

def fnc(city):
    url = 'http://%s.craigslist.org/search/rva?query=gulf+stream'
    HTML = requests.get(url%city).text
    RV = Selector(text=HTML).xpath('//*[@id="sortable-results"]/div[1]/p/a/span/text()').extract()
    print 'The prices for Gulf Streams in', city, 'are',[float(i.encode('ascii', 'ignore').strip('$')) for i in RV]
     

fnc('cleveland')

The prices for Gulf Streams in cleveland are [19500.0, 22995.0, 45000.0, 12000.0, 8500.0, 16488.0, 17000.0, 10500.0, 14500.0, 5495.0, 5995.0, 2700.0, 45000.0, 18995.0, 19800.0, 6000.0, 5495.0, 12995.0, 12000.0, 11000.0, 25000.0, 24000.0, 31900.0, 5995.0, 12995.0]

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 4. Define a function to caculate mean and median price per city.

Now that you've created a list of cities you want to scrape, adapt your solution for grabbing data in one region site, to grab data for all regional sites that you collected, then calculate the mean and median price of RV results from each city.

> Look at the URLs from a few different regions (ie: portland, phoenix, sfbay), and find what they have in common.  Determine the area in the URL string that needs to change the least, and figure out how to replace only that portion of the URL in order to iterate through each city.

In [10]:
#CREATING A FUNCTION TO COMPUTE THE MEAN AND MEDIAN OF THE VALUES 

def fnc_Mean_and_Median(city):
    url = 'http://%s.craigslist.org/search/rva?query=gulf+stream'
    HTML = requests.get(url%city).text
    RV = Selector(text=HTML).xpath('//*[@id="sortable-results"]/div[1]/p/a/span/text()').extract()
    Mean = [float(i.encode('ascii', 'ignore').strip('$')) for i in RV]
    Median = sorted([float(i.encode('ascii', 'ignore').strip('$')) for i in RV])
    Average = np.mean(Mean)
    Median = np.median(Median)
    print 'The average price for Gulf Streams sales in',city,'is', Average, 'and the median price is', Median
    
    return Average, Median

fnc_Mean_and_Median('columbus')

The average price for Gulf Streams sales in columbus is 18166.0322581 and the median price is 15500.0

(18166.032258064515, 15500.0)

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 5. Run your scraping process, and save your results to a CSV file.

In [11]:
#I AM CREATING A FILE, FILE.CSV WHICH WILL CONTAIN THE FOLLOWING: ORIGIN, DESTINATION, DISTANCE BETWEEN THE TWO IN MILES
#ESTIMATED FUEL COSTS IN US DOLLARS AND THE AVERAGE AND MEDIAN PRICES FOR GULF STREAM IN THE ORIGIN CITY.  THE FILE IS 
#IS CREATED BELOW AFTER I FINISH MY SCRAPE.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 6. Do an analysis of the RV market.  Are there any other variables you could pull out of the markup to help describe your dataset?

Go head we'll wait.  Anything notable about the data?

In [12]:
#NOT SURE WHAT IS BEING ASKED HERE

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 7. Does it makes sense to buy RVs in one region and sell them in another?

### Use the Google Distance API to inform your decision.

Assuming the cost of shipping or driving from one regional market to another.

In [13]:
#Adding my API key to the provided website my function here allows for input of any two cities, and produces their 
#distance.  
def Google_API(origin, destination):
    r = requests.get('https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=%s&destinations=%s&key=AIzaSyC8n5AcTgesbLYrNRMgU_FQ1yuwNRP0kuc'%(origin, destination)).json()
    print r['origin_addresses'][0].strip()
    print r['destination_addresses'][0].strip()
    print 'The distance between them is',r['rows'][0]['elements'][0]['distance']['text'].strip()  

Google_API('Los Angeles', 'Columbus')

Los Angeles, CA, USA
Columbus, OH, USA
The distance between them is 2,242 mi

In [14]:
#Using the website eia.gov they have an average u.s. diesel fuel cost per gallon at 2.40.  Also, I decided to use a 
#pretty standard truck to pull our rv.  2016 Dodge Ram 3500 which has an average mpg of 14 miles/gallon. 

#So changing my function to calculate fuel costs and give the mean and median sales of the destination city

In [15]:
def Google_API2(origin, destination):
    r = requests.get('https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=%s&destinations=%s&key=AIzaSyC8n5AcTgesbLYrNRMgU_FQ1yuwNRP0kuc'%(origin, destination)).json()
    print r['origin_addresses'][0].strip()
    print r['destination_addresses'][0].strip()
    print 'The distance between them is',r['rows'][0]['elements'][0]['distance']['text'].strip()
    j = r['rows'][0]['elements'][0]['distance']['text'].strip()
    dist = j.encode('ascii', 'ignore').split()
    Dist = float(dist[0].replace(',',''))
    Estimate = (Dist/14.0)*2.40 #DIST/CAR RATE * MILES/GALL
    print 'The estimated cost to haul an RV from',destination,'to', origin,'is',Estimate
    
    
    fnc_Mean_and_Median(destination)
    
    return origin, destination, Dist, Estimate
Google_API2('Los Angeles', 'Columbus')

Los Angeles, CA, USA
Columbus, OH, USA
The distance between them is 2,242 mi
The estimated cost to haul an RV from Columbus to Los Angeles is 384.342857143
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0

('Los Angeles', 'Columbus', 2242.0, 384.3428571428571)

In [16]:
#CREATING A DATAFRAME WHICH TAKES, DESTINATION COLUMBUS WHICH IS SET, AND WILL TAKE ORIGIN CITY WHICH IS THE FIRST 10
#IN MY CITIES LIST AND HOLDS THE DISTANCE FROM COLUMBUS, AND THE CALCUTED FUEL COST.  

data = []

for i in cities[:15]:
    data.append(Google_API2(i, 'Columbus'))

New York, NY, USA
Columbus, OH, USA
The distance between them is 533 mi
The estimated cost to haul an RV from Columbus to New York is 91.3714285714
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Los Angeles, CA, USA
Columbus, OH, USA
The distance between them is 2,242 mi
The estimated cost to haul an RV from Columbus to Los Angeles is 384.342857143
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Chicago, IL, USA
Columbus, OH, USA
The distance between them is 359 mi
The estimated cost to haul an RV from Columbus to Chicago is 61.5428571429
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Houston, TX, USA
Columbus, OH, USA
The distance between them is 1,155 mi
The estimated cost to haul an RV from Columbus to Houston is 198.0
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Philadelphia, PA, USA
Columbus, OH, USA
The distance between them is 469 mi
The estimated cost to haul an RV from Columbus to Philadelphia is 80.4
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Phoenix, AZ, USA
Columbus, OH, USA
The distance between them is 1,874 mi
The estimated cost to haul an RV from Columbus to Phoenix is 321.257142857
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
San Antonio, TX, USA
Columbus, OH, USA
The distance between them is 1,313 mi
The estimated cost to haul an RV from Columbus to San Antonio is 225.085714286
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
San Diego, CA, USA
Columbus, OH, USA
The distance between them is 2,226 mi
The estimated cost to haul an RV from Columbus to San Diego is 381.6
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Dallas, TX, USA
Columbus, OH, USA
The distance between them is 1,039 mi
The estimated cost to haul an RV from Columbus to Dallas is 178.114285714
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Austin, TX, USA
Columbus, OH, USA
The distance between them is 1,235 mi
The estimated cost to haul an RV from Columbus to Austin is 211.714285714
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Jacksonville, FL, USA
Columbus, OH, USA
The distance between them is 807 mi
The estimated cost to haul an RV from Columbus to Jacksonville is 138.342857143
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
San Francisco, CA, USA
Columbus, OH, USA
The distance between them is 2,434 mi
The estimated cost to haul an RV from Columbus to San Francisco is 417.257142857
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Indianapolis, IN, USA
Columbus, OH, USA
The distance between them is 175 mi
The estimated cost to haul an RV from Columbus to Indianapolis is 30.0
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Columbus, OH, USA
Columbus, OH, USA
The distance between them is 1 ft
The estimated cost to haul an RV from Columbus to Columbus is 0.171428571429
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0
Fort Worth, TX, USA
Columbus, OH, USA
The distance between them is 1,071 mi
The estimated cost to haul an RV from Columbus to Fort Worth is 183.6
The average price for Gulf Streams sales in Columbus is 18166.0322581 and the median price is 15500.0

In [17]:
#CONVERTING MY LIST OF DATA TO AN ACTUAL DATAFRAME
My_List = pd.DataFrame(data)

In [18]:
#CHANGING MY COLUMNS TO THE FOLLOWING

My_List.columns = ['Origin', 'Destin', 'Distance', 'FuelPrice']
My_List

           Origin    Destin  Distance   FuelPrice
0        New York  Columbus     533.0   91.371429
1     Los Angeles  Columbus    2242.0  384.342857
2         Chicago  Columbus     359.0   61.542857
3         Houston  Columbus    1155.0  198.000000
4    Philadelphia  Columbus     469.0   80.400000
5         Phoenix  Columbus    1874.0  321.257143
6     San Antonio  Columbus    1313.0  225.085714
7       San Diego  Columbus    2226.0  381.600000
8          Dallas  Columbus    1039.0  178.114286
9          Austin  Columbus    1235.0  211.714286
10   Jacksonville  Columbus     807.0  138.342857
11  San Francisco  Columbus    2434.0  417.257143
12   Indianapolis  Columbus     175.0   30.000000
13       Columbus  Columbus       1.0    0.171429
14     Fort Worth  Columbus    1071.0  183.600000

In [19]:
My_List.to_csv('My_Data.csv',index=False)

# <img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 8.  Choose another area of Craigslist to scrape where retail arbitrage might be possible.

#### Cross-reference possible opportunities with the eBay API Interface.

**Choose an area having more than a single page of results, then scrape multiple regions, multiple pages of search results and or details pages.**

This is the true exercise of being able to understand how to successfully plan, develop, and employ a broader scraping strategy.  Even though this seems like a challenging task, a few tweeks of your current code can make this very managable if you've pieced together all the touch points.  If you are still confused as to some of the milestones within this process, this is an excellent opportunity to round out your understanding, or help you build a list of questions to fill in your gaps.

_Use Scrapy!  Provide your code in this project directory when you submit this project._

# Project 4.1: Classification

A few weeks ago we imputed age values in the titanic dataset. Now we're going to use those imputed values to predict survivorship using "Pclass", "Sex", "Age", "SibSp", "Parch", and "Fare". Get the traning and testing data from here: https://www.kaggle.com/c/titanic/data (you will need to make an account). Copy your imputation code below.

In [20]:
import pandas as pd
from sklearn import preprocessing
import patsy

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

train_df.columns

#first I am going to take the train set and categorize the Pclass, Parch and SibSp features.  I decided against setting
#SibSp and Parch as categorical variables.  When running regression it was not able to predict when, due to 
#categorization, columns of full zeros were created. 
train_df['Pclass'] = train_df['Pclass'].astype('category')

#within the Age columns/feature there are 177 null values I am going to fill in with the Average age with the Train set 
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
#I want to categorize the Sex column but first, changing the feature to single boolean rep. where male = 1 and female
# =0.  

def change_feature(x):
    if x[0] == 'm':
        return 1.0
    else:
        return 0.0
    
train_df['Sex'] = train_df['Sex'].apply(change_feature)
train_df['Sex'] = train_df['Sex'].astype('category')

In [22]:
train_df.Sex.unique()

[1.0, 0.0]
Categories (2, float64): [1.0, 0.0]

In [23]:
train_df.Age = train_df.Age.fillna(train_df.Age.mean())

train_df.Age.isnull().sum()
#just a quick check to verify here, but the NaN or null values within the Age column have been filled in with the 
#average age.

0

In [24]:
test_df = test_df.fillna(test_df.mean())

In [25]:
#FIRST THING I DO WILL BE STANDARDIZING THE AGE AND FARE COLUMNS

In [26]:
#Setting both Age and Fare variables to the respective train_df columns 
Age = train_df.Age
Fare = train_df.Fare

In [27]:

scaler = preprocessing.StandardScaler().fit(Age)
train_df.Age = scaler.transform(Age)

//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [28]:
scaler = preprocessing.StandardScaler().fit(Fare)
train_df.Fare = scaler.transform(Fare)

//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:583: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:646: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [29]:
#Here I am settting up the features asked to consider for our knn regression and creating two new data frames, knn_Train
#and knn_Test with only the feautres Parch, Sex, Age, SibSp, and Fare.  Also, categoriizng the Sex column, running 
#the function change_feature(), created above to change the column from males/females to 1/0.

knn_Train = train_df[['Parch', 'Sex', 'Age', 'SibSp', 'Fare']]

In [30]:
knn_Test = test_df[['Parch', 'Sex', 'Age', 'SibSp', 'Fare']]
knn_Test['Sex'] = knn_Test['Sex'].apply(change_feature)
knn_Test['Sex'] = knn_Test['Sex'].astype('category')

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

 Predict using kNN with k=1,2,3,4,5,6,7,8,9

In [31]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import StratifiedKFold

prediction = []
#Creating prediction list which will hold the accuracy of each kNN with k = 1-9 
for i in range(1,10): 
    
    kNN_clf = KNeighborsClassifier(n_neighbors=i)

    kNN_clf.fit(knn_Train, train_df['Survived'])
    kNN_clf.predict(knn_Test)
    Acc_Score = kNN_clf.score(knn_Train, train_df['Survived']) 
    
    prediction.append(Acc_Score)

In [32]:
#THE ACCURACY SCORES FOR EACH K
prediction

[0.97979797979797978,
 0.87991021324354657,
 0.877665544332211,
 0.85746352413019078,
 0.85185185185185186,
 0.83950617283950613,
 0.8271604938271605,
 0.83164983164983164,
 0.82940516273849607]

In [33]:
print 'when k = 1 highest accuracy is', np.max(prediction)

when k = 1 highest accuracy is 0.979797979798

Predict using logistic Regression

In [34]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression


X_train, X_test, Y_train, Y_test = train_test_split(train_df[['Parch','Fare', 'SibSp', 'Age', 'Sex']].values, 
                                                    train_df['Survived'].values, 
                                                    test_size=0.33, stratify=train_df['Survived'].values, random_state=77)

In [35]:
logreg = LogisticRegression(random_state=77)
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)

In [36]:
Y_pred

array([1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0])

In [37]:
feats = ["C(Pclass)", "Sex", "Age", "SibSp", "Parch", "Fare"]
y_train, X_train = patsy.dmatrices('Survived ~'+'+'.join(feats), 
                       data=train_df, return_type='dataframe')

In [38]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression()

In [39]:
clf.fit(X_train.values, y_train.values)

//anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [40]:
y_test, X_test = patsy.dmatrices('1 ~'+'+'.join(feats), 
                       data=test_df, return_type='dataframe')

In [41]:
test_df['Predict'] = clf.predict(X_test)

In [42]:
def make_predic(x):
    if x>0.32:
        return 1.0
    else:
        return 0.0

In [43]:
test_df['Survived'] = test_df['Predict'].apply(make_predic)

In [44]:
test_df.to_csv('my_first_kaggle.csv',
              columns=['PassengerId', 'Survived'], 
              index=False)

In [45]:
#KAGGLE USSERNAME: Punkymonkey88